body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

input, select, button, textarea {
  max-width: 100%;
}

meter, progress, output {
  max-width: 100%;
}

div#tswcontent {
  width: 100%;
  max-width: 100%;
  color: black;
}

div#tswcontproper {
  padding-left: 0px;
  padding-right: 0px;
}

div#tswcontainer {
}

div#tswheader {
  color: rgba(255, 255, 255, 0.01);
}

div#tswfooter {
  color: black;
  background-color: rgba(255, 0, 0, 0.01);
}

#header {
  background-color: rgba(255, 0, 0, 0.01);
  color: rgba(255, 255, 255, 0.01);
  font-size: 0%;
}

#container {
  background-color: #ff7c19;
}

#body {
  background-color: rgba(255, 124, 25, 0.01);
}

#tswcsstabs {
  background-color: white;
}

#tswcontainer {
  background-color: white;
  background-attachment: scroll;
  background-repeat: repeat-x;
  background-position: center center;
  color: white;
}

#ul {
  -webkit-font-feature-settings: "clig";
  font-feature-settings: "clig";
}

#ull {
  background-color: #ff7c19 !important;
}

#a {
  background-color: #ff7c19 !important;
}

#li {
  background-color: #ff7c19 !important;
}

#img {
  background-color: #ff7c19;
}

#tswheader {
  background-color: rgba(255, 255, 255, 0.01);
}

#tswfooter {
  background-color: rgba(255, 0, 0, 0.01);
  color: #020202;
}

#tswcontent {
  background-color: #ff7c19;
}

